fastapi
uvicorn>=0.22.0
pydantic
pandas
numpy
scikit-learn
lightgbm
xgboost
sqlalchemy
psycopg2-binary
boto3
feast
great_expectations
pytest
streamlit
mlflow
pyarrow
shap
jupyterlab
apache-airflow==2.5.1
